footer {
    display: grid;
    width: 100%;
    background-color: #EAD9C9;
    grid-template-areas:
        "message" "credits" "politicas" "links";
    & div.footer_container {
        background-color: #EAD9C9;
        display: grid;
        row-gap: 2vw;
        margin:5% 5%;
        grid-template:
            "message message message" auto
            "credits politicas links" auto/
            30% 30% auto;
        align-items: center;
        & div.message_footer {
            grid-area: message;
            background-color: #EAD9C9;
            & h3 {
                font-family: 'Cormorant';
                background-color: #EAD9C9;
                font-size: 3.5vw;
                color: #787878;
            }
        }
        & div.madeitbywho {
            grid-area: credits;
            background-color: #EAD9C9;
            & a {
                background-color: #EAD9C9;
                color: #787878;
                font-size: 1.2vw;
            }
        }

        & div.politicasprivacidad {
            grid-area: politicas;
            background-color: #EAD9C9;
            & a {
                background-color: #EAD9C9;
                color: #787878;
                font-size: 1.2vw;
            }
        }
        & div.links {
            
            grid-area: links;
            background-color: #EAD9C9;
            & h1{
                background-color: #EAD9C9;
                font-family: 'Cormorant';
                font-size: 1.8vw;
                color: #787878;
                margin: 0 0 2vw 0;
            }
            & div.horizontal {
                width: 80%;
                background-color: #EAD9C9;
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: space-between;
                & a{
                    background-color: #EAD9C9;
                    font-size: 1.2vw;
                }
            }
        }
    }
}
@media (max-width: 820px) {
    footer div.footer_container {
            row-gap: 8vw;
            margin:5% 5%;
            grid-template:
                "message message" auto
                "links links"auto
                "credits politicas" auto/
                auto auto;
            & div.message_footer h3 {
                    font-size: 6.5vw;
                }
            & div.madeitbywho a {
                    font-size: 3.5vw;
            }
    
            & div.politicasprivacidad a {
                    font-size: 3.5vw;
                }
            & div.links {
                & h1{
                    font-size: 9.8vw;
                    margin: 0 0 2vw 0;
                }
                & div.horizontal {
                    width: 80%;
                    & a{
                        font-size: 3.2vw;
                    }
                }
            }
        }
    }