header {
    height: 50vw;
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;

    & div.list {
        position: absolute;
        width: max-content;
        display: flex;
        transition: 2s;

        & img {
            width: 100vw;
            height: 50vw;
        }
    }

    & div.buttons {
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        background-color: transparent;

        & button {
            width: 3vw;
            height: 3vw;
            font-size: 2vw;
            border-radius: 50%;
            background-color: #fff5;
            color: #fff;
            border: none;
            font-family: monospace;
            font-weight: bold;
            z-index: 9;
            cursor: pointer;
        }
    }

    & ul.dots {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 8;
        background-color: transparent;

        & li {
            list-style: none;
            width: 1vw;
            height: 1vw;
            padding: 1vw;
            background-color: #fff;
            margin: 1vw;
            border-radius: 20px;
            transition: 1.5s;
            z-index: 7;
            cursor: pointer;
        }
    }
}

.slider .dots li.active {
    /*animacion de agrandar los puntos*/
    width: 50px;
    background-color: #0000004d;
}

@media (max-width: 820px) {
    header {
        height: 60vw;
        & div.list img {
            height: 60vw;
        }
        & div.buttons button {
            width: 10vw;
            height: 10vw;
            font-size: 3vw;
        }
        & ul.dots li {
            width: 2vw;
            height: 2vw;
            padding: 2vw;
            margin: 2vw;
        }
    }
}