body {
    grid-template-areas: "Novia" "img_Novia" "Accesorios" "img_Accesorios" "Destaca" "img_destaca";
    background-color: #FBF8F1;

    /* Estilos de letra y botones que aplican para todo el body */
    & h1{
        color: rgb(195, 147, 124);
        font-size: 43px;
        line-height: 55px;
        margin-left: 110px;
        margin-right: 55px;
        font-weight: 100;
        font-family: cormorant, serif;
    }

    & h2 {
        line-height: 25px;
        margin-left: 110px;
        margin-right: 55px;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 3px;
        color: grey;
    }

    & p{
        margin-left: 110px;
        margin-right: 45px;
        font-size: 17px;
        color: rgb(162, 162, 162);
    }
    & button.conoce{
        margin-left: 110px;
        font-weight: bold;
        height: 67px;
        color: rgb(195, 147, 124);
        font-size: 25px;
        width: 190px;
        border-radius: 40px;
        background-color: transparent;
        border-color: rgb(195, 147, 124);
        font-family: montagu slab, serif;
        cursor: pointer;
    }

    /* Estilos especificos */
    & div.grid-layout1 {
        display: grid;
        margin-top: 100px;
        grid-template:
            "Novia img_Novia" / 1fr 1.3fr;

        & section.conoce_mas_frontPage1{
            height: 80vh;
            place-content: center;
        }

        & section.imagen1{
            justify-content: right;
            right: 0;
            & img.img1{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    & div.grid-layout2 {
        display: grid;
        margin-top: 50px;
        max-height: 79vh;
        grid-template:
            "img_Accesorios Accesorios" / 1.3fr 1fr;

        & section.imagen2{
            margin-left: 40px;
            & img.img2{
                max-width: 100%;
                max-height: 100%;
            }
        }

        & section.conoce_mas_frontPage2{
            place-content: center;
        }
    }

    & div.grid-layout3{
        display: grid;
        margin-top: -40px;
        grid-template:
                "Destaca img_Destaca" / 1fr 1.3fr;

        & section.conoce_mas_frontPage3{
            place-content: center;

        }

        & section.imagen3{
            & img.img3{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}