.formulario_contacto{
    height: 35vw;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 8vw auto ;
    background-color:#FBF8F1;
    font-family: 'Montserrat', sans-serif;
    place-content: center;

    & div.imagen-izquierda {
        text-align: center;
        margin: 0 5vw 0 10vw;
        display: flex;
        & img{
            width: 35vw;
            height: 35vw;
        }
    }

    & div.texto-derecha{
        color: #787878;
        text-align: center;
        margin: 0 5vw 0 2vw;
        font-weight: normal;
    
        & h1{
            font-family: 'Cormorant', serif;
            font-size: 3vw;
            font-weight: normal;
            color: #C3937C;
            margin-bottom: 2vw;
        }

        & h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.8vw;
            font-weight: bold;
            color: #787878;
            margin-bottom: 0.1vw;
            letter-spacing: 0.3vw;
        }

        & form.formulario{
            & div.campo-formulario{
                margin-bottom: 1.2vw;  
                & label{
                    display: inline-block;
                    width: 20%;
                    text-align: start;
                    padding-bottom: 0.7vw;
                    font-size: 1vw;
                    border-bottom: 0.1vw solid black;
                }
                & input{
                    color: #787878;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding-bottom: 0.7vw;
                    border-bottom: 0.1vw solid black;
                    width: 80%;
                    font-size: 1vw;
                }
            }


            & div.btn-enviar{
                text-align: center;
                & button{
                    padding: 0;
                    height: 4vw;
                    width: 10vw;
                    font-size: 1.5vw;
                }
            }
        }
    
    }
}
@media (max-width: 800px) {
    .formulario_contacto{
        grid-template-columns: 0% 100%;
        height: 60vw;
        & div.imagen-izquierda {
            & img{
                width: 0vw;
                height: 0vw;
            }
        }
        & div.texto-derecha{
            max-height: 60vw;
            & h2{
                font-size: 2vw;
                margin-bottom: 0.2vw;
                letter-spacing: 0.5vw;
            }
            & h1{
                font-size: 6vw;
            }
            & form.formulario{
                & div.campo-formulario{  
                    & label{
                        font-size: 3vw;
                    }
                    & input{
                        font-size: 3vw;
                    }
                }
                & div.btn-enviar{
                    & button{
                        height: 5vw;
                        width: 30vw;
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}


